<div class="chart__container" *ngIf="chart">
  <div class="chart__datepickers">
    <mat-form-field class="chart__datepicker">
      <input class="chart__input" matInput placeholder="Select start date"
        [matDatepicker]="startDate" autocomplete="off"
        (dateChange)="onChange('start', $event)">
      <mat-datepicker-toggle class="chart__toggler" matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker class="chart__date" #startDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="chart__datepicker">
      <input class="chart__input" matInput placeholder="Select end date"
        [matDatepicker]="endDate" autocomplete="off"
        (dateChange)="onChange('end', $event)">
      <mat-datepicker-toggle class="chart__toggler" matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker class="chart__date" #endDate></mat-datepicker>
    </mat-form-field>
  </div>
  <canvas class="chart__dynamics" id="canvas">{{ chart }}</canvas>
</div>