<mat-list class="about">
  <mat-list-item class="about__item">
    <mat-icon class="about__icon" matListIcon color="primary">
      <i class="fas fa-user-tie"></i>
    </mat-icon>
    <h3 class="about__header" matLine> This site was designed and developed by:
    </h3>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="fab fa-github"></i>
      </mat-icon>
      <h3 class="about__header" matLine> GitHub URL </h3>
      <a class="about__link" matLine href="tbd">
        <span>https://github.com/testersgonnatest/currency-project</span>
      </a>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="fab fa-github-alt"></i>
      </mat-icon>
  </mat-list-item>

  <mat-list-item class="about__item">
      <mat-icon class="about__icon" matListIcon color="primary">
        <i class="far fa-file-pdf"></i>
      </mat-icon>
      <h3 class="about__header" matLine> Design </h3>
      <a class="about__link" matLine 
        href="https://onedrive.live.com/?authkey=%21AM39ixkk_H3oUKY&cid=79CD1415B18CB9CB&id=79CD1415B18CB9CB%21627752&parId=79CD1415B18CB9CB%21627751&o=OneUp">
        <span>design.pdf</span>
      </a>
  </mat-list-item>
</mat-list>