<div class="calculator__form">
  <div class="calculator__form-group">
    <mat-form-field class="form-field calculator__form-field">
      <mat-label class="form-field__label">Value</mat-label>
      <input class="form-field__input" matInput type="number"
        autocomplete="off" name="count" min="0"
        [(ngModel)]="value" #count="ngModel">
      <button class="form-field__button" mat-button *ngIf="value"
        matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon class="form-field__icon">close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class=" form-field calculator__form-field">
      <mat-label class="form-field__label">Currency</mat-label>
      <mat-select class="form-field__select" name="type"
        [(ngModel)]="firstCurrency" #firstSelect="ngModel">
        <mat-option class="form-field__option">None</mat-option>
        <mat-option class="form-field__option" *ngFor="let currency of currencies"
          [value]="currency">
          <span class="form-field__option-title">{{ currency.Cur_Abbreviation }} </span>
          <span class="form-field__option-title">{{ currency.Cur_Name }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="calculator__form-group">
    <mat-form-field class="form-field calculator__form-field">
      <mat-label class="form-field__label">Result</mat-label>
      <input class="form-field__input" matInput type="number" name="result"
       [value]="exchangeResult" disabled>
      <mat-hint class="form-field__label"
        *ngIf="firstSelect.model && count.model && !secondSelect.model">
        BYN
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-field calculator__form-field">
      <mat-label class="form-field__label">Currency</mat-label>
      <mat-select class="form-field__select" name="type"
        [(ngModel)]="secondCurrency" #secondSelect="ngModel">
        <mat-option class="form-field__option">None</mat-option>
        <mat-option class="form-field__option" *ngFor="let currency of currencies"
          [value]="currency">
          <span class="form-field__option-title">{{ currency.Cur_Abbreviation }} </span>
          <span class="form-field__option-title">{{ currency.Cur_Name }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-checkbox class="calculator__checkbox" color="primary"
    [(ngModel)]="roundChkbxChecked">Round result
  </mat-checkbox>
</div>