.nav-menu {
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid gray;
        margin: 10px 0;
        padding: 0 10px;
    }

    &__links {
        margin-right: 50px;
    }

    &__link {
        &:not(:last-of-type) {
            border-right: 1px solid lightgray;
        }
    }
}